
process {
    shell = ['/bin/bash', '-euo', 'pipefail']

    withLabel: bcftools {
        container = 'quay.io/biocontainers/bcftools:1.21--h3a4d415_1'
    }
    withLabel: bedops {
        container = 'quay.io/biocontainers/bedops:2.4.40--h9f5acd7_0'
    }
    withLabel: bigbedtobed {
        container = 'quay.io/biocontainers/ucsc-bigbedtobed:469--h664eb37_1'
    }
    withLabel: bwamem2 {
        container = 'quay.io/biocontainers/mulled-v2-e5d375990341c5aef3c9aff74f96f66f65375ef6:2d15960ccea84e249a150b7f5d4db3a42fc2d6c3-0'
    }
    withLabel: edisetr {
        container = 'rocker/verse:4.4.3'
    }
    withLabel: fastp {
        container = 'quay.io/biocontainers/fastp:0.24.0--heae3180_1'
    }
    withLabel: jacusa2 {
        container = "quay.io/biocontainers/jacusa2:2.0.4--hdfd78af_0"
    }
    withLabel: rseqc {
        container = 'quay.io/biocontainers/rseqc:5.0.4--pyhdfd78af_0'
    }
    withLabel: samtools {
        container = 'quay.io/biocontainers/samtools:1.21--h96c455f_1'
    }
    withLabel: star {
        container = 'quay.io/biocontainers/star:2.7.11b--h5ca1c30_5'
    }
    withLabel: multiqc {
        container = 'quay.io/biocontainers/multiqc:1.27.1--pyhdfd78af_0'
    }
    withLabel: mosdepth {
        container = 'quay.io/biocontainers/mosdepth:0.3.10--h4e814b3_1'
    }
    withLabel: vcfanno {
        // container = 'quay.io/biocontainers/vcfanno:0.3.5--h9ee0642_1'
        container = 'quay.io/biocontainers/mulled-v2-1c7ead01006ee6e0ad164b238136e2f618fa5b31:7b2f99e5d09a1c31e0236f206d9b21db634671cf-0'
    }
    withLabel: vep {
        container = 'quay.io/biocontainers/ensembl-vep:114.0--pl5321h2a3209d_0'
    }
    withLabel: r {
        module = 'R/flexiblas/4.4.1'
    }
}