profiles {

    // human hg38 / GRCh38
    hg38 {
        params.genome         = 'hg38'
        params.ref_fasta_url  = 'https://hgdownload.soe.ucsc.edu/goldenPath/hg38/bigZips/latest/hg38.fa.gz'
        params.ucsc_rmsk_url  = 'https://hgdownload.cse.ucsc.edu/goldenPath/hg38/database/rmsk.txt.gz'
        params.gtf_url        = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_48/gencode.v48.annotation.gtf.gz'
        params.rediportal_url = 'http://srv00.recas.ba.infn.it/webshare/ATLAS/download/TABLE1_hg38_v3.txt.gz'
        
        params.dbsnp_url           = 'http://hgdownload.soe.ucsc.edu/gbdb/hg38/snp/dbSnp153Common.bb'
        params.gnomad_url_pattern  = "https://storage.googleapis.com/gcp-public-data--gnomad/release/<VER>/vcf/joint/gnomad.joint.v<VER>.sites.chr<CHR>.vcf.bgz"
        params.gnomad_ver          = '4.1'
        params.gnomad_chr          = (1..22) + ['X','Y']
        params.gnomad_min_af       = 0.001
    }

    // mouse mm10 / GRCm38
    mm10 {
        params.genome         = 'mm10'
        params.ref_fasta_url  = 'https://hgdownload.soe.ucsc.edu/goldenPath/mm10/bigZips/mm10.fa.gz'
        params.ucsc_rmsk_url  = 'https://hgdownload.cse.ucsc.edu/goldenPath/mm10/database/rmsk.txt.gz'
        params.gtf_url        = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M25/gencode.vM25.annotation.gtf.gz'\
        // N.B. REDIportal mouse mm10 is available, but lacks annotations in REDIportal hg38 including accessions numbers, and so is not supported
    }

    // mouse mm39 / GRCm39
    mm39 {
        params.genome         = 'mm39'
        params.ref_fasta_url  = 'https://hgdownload.soe.ucsc.edu/goldenPath/mm39/bigZips/mm39.fa.gz'
        params.ucsc_rmsk_url  = 'https://hgdownload.cse.ucsc.edu/goldenPath/mm39/database/rmsk.txt.gz'
        params.gtf_url        = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M37/gencode.vM37.annotation.gtf.gz'
    }

    apptainer {
        apptainer.enabled      = true
        singularity.autoMounts = true
        singularity.enabled    = false
        docker.enabled         = false
        pullTimeout            = '1h'
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        apptainer.enabled      = false
        docker.enabled         = false
        pullTimeout            = '1h'
    }

    docker {
        docker.enabled      = true
        apptainer.enabled   = false
        singularity.enabled = false
    }
}

process {
    shell = ['/bin/bash', '-euo', 'pipefail']

    withLabel: bcftools {
        container = 'quay.io/biocontainers/bcftools:1.21--h3a4d415_1'
    }
    withLabel: bedops {
        container = 'quay.io/biocontainers/bedops:2.4.40--h9f5acd7_0'
    }
    withLabel: bigbedtobed {
        container = 'quay.io/biocontainers/ucsc-bigbedtobed:469--h664eb37_1'
    }
    withLabel: bwamem2 {
        container = 'quay.io/biocontainers/mulled-v2-e5d375990341c5aef3c9aff74f96f66f65375ef6:2d15960ccea84e249a150b7f5d4db3a42fc2d6c3-0'
    }
    withLabel: edisetr {
        container = "ghcr.io/bahlolab/edi-set-flow:25.08-beta.1"
    }
    withLabel: fastp {
        container = 'quay.io/biocontainers/fastp:0.24.0--heae3180_1'
    }
    withLabel: jacusa2 {
        container = "quay.io/biocontainers/jacusa2:2.0.4--hdfd78af_0"
    }
    withLabel: rseqc {
        container = 'quay.io/biocontainers/rseqc:5.0.4--pyhdfd78af_0'
    }
    withLabel: samtools {
        container = 'quay.io/biocontainers/samtools:1.21--h96c455f_1'
    }
    withLabel: star {
        container = 'quay.io/biocontainers/star:2.7.11b--h5ca1c30_5'
    }
    withLabel: multiqc {
        container = 'quay.io/biocontainers/multiqc:1.27.1--pyhdfd78af_0'
    }
    withLabel: mosdepth {
        container = 'quay.io/biocontainers/mosdepth:0.3.10--h4e814b3_1'
    }
    withLabel: vcfanno {
        container = 'quay.io/biocontainers/mulled-v2-1c7ead01006ee6e0ad164b238136e2f618fa5b31:7b2f99e5d09a1c31e0236f206d9b21db634671cf-0'
    }
    withLabel: vep {
        container = 'quay.io/biocontainers/ensembl-vep:114.0--pl5321h2a3209d_0'
    }
    withLabel: r {
        module = 'R/flexiblas/4.4.1'
    }
}